body{
    margin: 0;
    padding: 0;
    text-align: center;
}
#hero, #footer{
    background: #1f2937;
}
#hero{
    padding-bottom: 80px;
}
#her{
    width: 70%;
    margin: 0 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
#hero1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link a{
    color: white;
    text-decoration: none;
    margin: 0px 20px;
}
#hero2{
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#secondaryText{
    text-align: left;
}
#main{
    display: flex;
    flex-direction: column;
}
#space{
    width: 100px;
}
#holder{
    height: 200px;
    width: 600px;
    background: #757575;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mainText{
    text-align: left;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
#secondaryText, #link{
    font-size: 18px;
    color: #e5e7eb;
}

#logo{
    font-size: 24px;
    color: #f9faf8;
}
button{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #3882f6;
}
#infoHead{
    font-size: 36px;
    font-weight: bolder;
}
#illust{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.illustration{
    padding: 60px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}
#quote{
    background: #e5e7eb;
    padding: 20px 0;
    margin-top: 30px;
}
#qu{
    height: auto;
    width: 70%;
    margin: 0 15%;
}
#quoteText{
    text-align: justify;
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}
#name{
    text-align: right;
    font-weight: bold;
    font-size: 20px;
}
#callToAction{
    display: flex;
    align-items: center;
    background-color: #3882f6;
    height: auto;   
    width: 60%;
    padding: 20px 0px;
    margin: 40px 20%;
    border-radius: 50px;
    gap: 20%;
}
#sign{
    border: solid 1px white;
}
#call1{
    margin-left: 5%;
}
#call1 h3, #call1 p{
    text-align: left;
    color: white;
}
#footer p{
    padding: 30px 0;
    font-size: small;
    color: white;
    margin-bottom: 0;
}